* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D9D9D9;
}

.capstone-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3C6E71;
  height: 125px;
  width: 100vw;
  border-bottom: 5px solid #FFFFFF;
}

.capstone-header h1 {
  color: #FFFFFF;
  font-size: 3rem;
}

.capstone-main {
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-id-bar {
  height: 2rem;
  width: 15rem;
  color: #3C6E71;
}

.submit-button {
  height: 2rem;
  width: 3rem;
}

.submit-button:hover {
  background-color: #3C6E71;
  color: #FFFFFF;
}

.item-results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  color: #353535;
}

.result-name {

}